arxiv
beautifulsoup4
bs4
faiss-cpu
fitz
huggingface_hub
ipykernel
langchain
langchain-community
langchain_huggingface
langchain-text-splitters
numexpr
pdf2image
pdfminer.six
Pillow
pymupdf
pypdf
pytesseract
pytube
python-docx
python-dotenv
python-pptx
requests
sentence_transformers
streamlit
unstructured
langchain_groq
